<h1>Inventario DR</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button routerLink="/planta/nuevo" class="btn btn-primary btn-lg">
        <i class="fa fa-plus">
        </i>
        Agregar
  </button>
    </div>
</div>



<table *ngIf="!cargando  && plantas.length > 0" class="table mt-3 animated fadeIn faster col-">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Departamento</th>
            <th scope="col">Glower</th>
            <th scope="col">Genero</th>
            <th scope="col">Especie</th>
            <th scope="col">Variedad</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Estado</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let planta of plantas; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{planta.depatamento}}</td>
            <td>{{planta.glower}}</td>
            <td>{{planta.genero}}</td>
            <td>{{planta.especie}}</td>
            <td>{{planta.variedad}}</td>
            <td>{{planta.cantidad}}</td>
            <td>{{planta.estado}}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/planta', planta.id]">
                <i class="fa fa-pen"></i>
              </button>
                <button class="btn btn-danger ml-1" (click)="borrarplanta( planta, i)">
                <i class="fa fa-trash"></i>
              </button>
            </td>

        </tr>
    </tbody>
</table>

<div *ngIf="!cargando && plantas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    <h4 class="alert-hending">No hay registro</h4>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-hending">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor!!!
    </p>
</div>
